html,
body {
  height: 100%;
  margin: 0;
  padding: 0px;
  max-width: 100%;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

ul {
  list-style: none;
}

.cart-counter {
  margin-left: -3px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 95, 95);
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.25em 0.5em;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-content {
    flex-grow: 1;
  }
}

Button {
  margin: 5px;
}
