.home-cont {
  max-width: 90%;
}

.card {
  max-height: 5000px;
}

.card-img-top {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
